* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-image: url(images/bamboo.svg);
    background-color: pink;
}
header {
    background-color: grey;
    border-bottom: 6px solid black;
    height: 70px;
}
main.container {
    margin: 20px auto;
}

h1 {
    font-size: 40px;
}
div.container {
    display: flex;
    height: 75px;
    align-items: center;
}
h1 {
    margin-right: auto;
}
h2 {
    border-bottom: 4px solid grey;
    margin-bottom: 20px;
}
section h2 {
    font-size: 30px;
}
nav {
    font-size: 22px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
section,
aside {
    background-color: pink;
    color: black;
}
section {
    float:left;
    width: 700px;
    padding: 20px;
    font-size: 20px;
}
section img {
    float: left;
    padding: 0 20px 10px 0;
}
p {
    margin-bottom: 15px;
    line-height: 1.5;
}
aside {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
aside {
    width: 250px;
    font-size: 20px;
}
aside h2 {
    font-weight: lighter;
    padding-right: 30px;
    padding-top: 15px;
}
aside a {
    padding-right: 15px;
}
main.container::after {
    content: "";
    clear: both;
    display: block;
}
footer {
    clear: both;
    background-color: grey;
    border-top: 6px solid black;
    font-size: 24px;
    padding: 10px 0;
    font-weight: bold;
}
footer p {
    display: flex;
    justify-content: center;
}